Repository Waddah-JD/russian-vocabulary-flash-cards-server: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn format

remove adminer from docker-compose
  docker-compose.dev.yml
Due: none

implement practice feature
  package.json
  src/modules/user-words/controllers.ts
  src/modules/user-words/schemas.ts
  src/modules/user-words/services.ts
  src/modules/user-words/types.ts
  src/modules/user-words/utils.ts
  yarn.lock
Due: yarn lint:fix, yarn format

add submit practice result func.
  src/database/migrations/1678363681382-DopPracticeCounters.ts
  src/database/migrations/1678363722286-AddPracticeCountersWithDefaultValues.ts
  src/modules/user-words/controllers.ts
  src/modules/user-words/entities.ts
  src/modules/user-words/schemas.ts
  src/modules/user-words/services.ts
Due: yarn lint:fix, yarn format

remove readonly modifier
  src/modules/auth/guard.ts
  src/modules/auth/services.ts
  src/modules/firebase/services.ts
  src/modules/health-check/controllers.ts
  src/modules/user-words/controllers.ts
  src/modules/user-words/services.ts
  src/modules/users/controllers.ts
  src/modules/users/services.ts
  src/modules/words/controllers.ts
Due: yarn lint:fix, yarn format

create generic pagination schemas
  src/schemas/pagination.ts
Due: yarn lint:fix, yarn format

add simple search by russian word with pagination
  src/modules/words/controllers.ts
  src/modules/words/services.ts
Due: yarn lint:fix, yarn format

create 'IsDependantOnProperty' validator
  src/errors/codes.ts
  src/schemas/pagination.ts
  src/validators/dependant.ts
Due: yarn lint:fix, yarn format

add English translations search
  src/database/migrations/1678384700838-AddEndTranslationsConstraints.ts
  src/modules/english-translations/controllers.ts
  src/modules/english-translations/entities.ts
  src/modules/english-translations/index.ts
  src/modules/english-translations/services.ts
  src/modules/words/entities.ts
Due: yarn lint:fix, yarn format

update readme
  .yarnrc.yml
  README.md
  package.json
  yarn.lock
Due: yarn format

update Yarn config
  .gitignore
  .yarn/releases/yarn-3.4.1.cjs
Due: none

add redis connection
  .env.example
  docker-compose.dev.yml
  src/modules/config/services.ts
  src/modules/config/types.ts
Due: yarn lint:fix, yarn format

cache GET 'words' and 'english-translations'endpoints
  package.json
  src/modules/app.ts
  src/modules/english-translations/controllers.ts
  src/modules/words/controllers.ts
  yarn.lock
Due: yarn lint:fix, yarn format

fix findByIdOrFail method on words service
  src/modules/words/services.ts
Due: yarn lint:fix, yarn format

add rate limiter
  .env.example
  package.json
  src/modules/app.ts
  src/modules/config/services.ts
  src/modules/config/types.ts
  yarn.lock
Due: yarn lint:fix, yarn format

add path aliases for non-module sub-dir
  docker-compose.dev.yml
  docker-compose.test.yml
  package.json
  src/modules/app.ts
  src/modules/english-translations/controllers.ts
  src/modules/english-translations/services.ts
  src/modules/health-check/controllers.spec.ts
  src/modules/user-words/entities.ts
  src/modules/user-words/schemas.ts
  src/modules/user-words/services.ts
  src/modules/users/entities.ts
  src/modules/users/schemas.ts
  src/modules/users/services.ts
  src/modules/words/controllers.ts
  src/modules/words/schemas.ts
  src/modules/words/scripts.ts
  src/modules/words/services.ts
  src/schemas/pagination.ts
  src/validators/dependant.ts
  src/validators/index.ts
  src/validators/users.ts
  test/jest-e2e.json
  tsconfig.json
Due: yarn lint:fix, yarn format

add github starting test workflow
  .github/workflows/test.yaml
Due: none

add vars to test workflow
  .github/workflows/test.yaml
Due: none

move install deps to before other actions
  .github/workflows/test.yaml
Due: none

add support to run test env in detached mode
  .github/workflows/test.yaml
  package.json
Due: yarn format

add test e2e to Github test workflow
  .github/workflows/test.yaml
Due: none

force exit Jest after e2e test run
  package.json
Due: yarn format

fix english-translations controller endpoint
  src/modules/english-translations/controllers.ts
Due: yarn lint:fix, yarn format

add test words seed and e2e test cases
  .gitignore
  docker-compose.dev.yml
  docker-compose.test.yml
  package.json
  seed/test.json
  src/database/config.ts
  src/modules/words/scripts.ts
  test/app.e2e-spec.ts
Due: yarn lint:fix, yarn format

fix Github test workflow seed comman
  .github/workflows/test.yaml
Due: none

get rid of Redis
  .env.example
  docker-compose.dev.yml
  docker-compose.test.yml
  package.json
  src/modules/app.ts
  src/modules/words/scripts.ts
  yarn.lock
Due: yarn lint:fix, yarn format

use v1 in healthcheck controller
  src/modules/health-check/controllers.ts
  test/app.e2e-spec.ts
Due: yarn lint:fix, yarn format

update README
  README.md
Due: none

add create user on sign up cb
  README.md
  src/errors/codes.ts
  src/modules/users/controllers.ts
  src/modules/users/errors.ts
  src/modules/users/schemas.ts
  src/modules/users/services.ts
Due: yarn lint:fix, yarn format

enable CORS
  src/main.ts
Due: yarn lint:fix, yarn format

update comment
  src/main.ts
Due: yarn lint:fix, yarn format

add Dockerfile
  Dockerfile
Due: none

update env mapper & dockerfile
  Dockerfile
  src/modules/config/utils.ts
Due: yarn lint:fix, yarn format

update env file util
  package.json
  src/modules/config/index.ts
  src/modules/config/services.ts
  src/modules/config/utils.ts
Due: yarn lint:fix, yarn format

remove logging
  src/database/config.ts
  src/modules/config/services.ts
Due: yarn lint:fix, yarn format

remove CORS
  src/main.ts
Due: yarn lint:fix, yarn format

allow CORS on dev and test environments
  src/main.ts
Due: yarn lint:fix, yarn format

Path conditions:
  yarn lint:fix: any of: *.{ts,js}
  yarn format: (any of: *.{ts,js}) or (any of: *.json)
